body {
	background-color: beige;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: url('Food.jpg') no-repeat;
	background-size: cover;
}

/* .search-form {
	display: inline-flex;
	position: fixed;
	left: 25%;
	right: 25%;
	height: 40px;
	margin-bottom: 20px;
}

.search-box {
	width: 75vw;
	border-radius: 10px;
	font-size: 24px;
	text-align: center;
}

*/

.search-box {
	width: 0;
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	xborder: solid #4caf50;
	transition: 0.4s;
	height: 20px;
	border: none;
	outline: none;
}

.search-button {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border: solid #4caf50;
	background: #4caf50;
	color: white;
	font-size: 16px;
}

.search-button:hover {
	background-color: #4caf50;
	color: black;
}

.search-form:hover > .search-box {
	color: black;
	width: 200px;
	padding: 2px 8px;
}

.search-form:hover > .search-button {
	color: black;
}

.loading {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	position: fixed;
	top: 25%;
	right: 25%;
	left: 25%;
	bottom: 25%;
	border-top: 16px solid #00ff00;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.recipe-container {
	display: inline-block;
	flex-wrap: wrap;
	margin: 20px;
	width: 300px;
}

.recipe-container > h3 {
	vertical-align: top;
	text-align: center;
	padding: 10px;
	height: 40px;
}

.recipe-container > img {
	top: 150px;
	border-radius: 15px;
	text-align: center;
	border: solid black 1px;
}

.recipe-container > button {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	background-color: white;
	border: solid #4caf50 1px;
	width: 33.33%;
	border-radius: 5px;
}

.recipe-container > button:hover {
	background-color: #4caf50;
	color: white;
	width: 33.33%;
	border-radius: 5px;
}

.recipe-container > a:link,
a:visited {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	display: inline-block;
	background-color: white;
	color: black;
	font-size: 13.33px;
	border: solid #4caf50 1px;
	padding: 1px 28.255px 1px 28.255px;
	text-decoration: none;
	border-radius: 5px;
}

.recipe-container > a:hover,
a:active {
	display: inline-block;
	background-color: #4caf50;
	color: white;
	font-size: 13.33px;
	border: solid #4caf50 1px;
	padding: 1px 28.255px 1px 28.255px;
	text-decoration: none;
	border-radius: 5px;
}

.nutrition-list {
	position: fixed;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	xborder-radius: 20px;
	background: white;
	border: solid darkgreen 1px;
	overflow-y: auto;
	overflow-x: auto;
}

.nutrition-list > h2,
h3 {
	text-align: center;
}

.nutrTable {
	display: flex;
	margin: 10px;
	justify-content: space-evenly;
}

.nutrTable > tbody {
	border: solid black 5px;
}

.table-left {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.daily {
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
}

.table-header {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: .5px solid;
}
.carb-sub {
	text-align: left;
	text-indent: 25px;
}

.calories {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	xborder-bottom: .5px solid;
}

.nutrition-list > button {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	text-decoration: none;
	background-color: white;
	border: solid rgb(255, 61, 61) 1px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0px;
	right: 0px;
	position: absolute;
	text-align: center;
}

.nutrition-list > button:hover {
	background-color: rgb(255, 61, 61);
	color: white;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 20px;
}

.ingredients {
	position: fixed;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	margin: auto;
	xborder-radius: 20px;
	background: white;
	padding: 15px;
	border: solid darkgreen 1px;

	overflow-y: auto;
	overflow-x: auto;
}

.ingredients > h2 {
	text-align: center;
}

.ingredients > button {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	text-decoration: none;
	background-color: white;
	border: solid rgb(255, 61, 61) 1px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0px;
	right: 0px;
	position: absolute;
	text-align: center;
}

.ingredients > button:hover {
	background-color: rgb(255, 61, 61);
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.outer-container {
	margin: auto;
}

.outer-container-inactive {
	margin: auto;
	pointer-events: none;
}

.recipes {
	display: flex;
	flex-wrap: wrap;
}

/* SCROLL BAR */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(93, 93, 93, 0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #4caf50;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #4caf50;
}

.navbar-list {
	list-style-type: none;
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #4caf50;
}

.navbar-list > li {
	float: left;
	display: block;
	padding: 12px 15px;
	text-align: center;
	color: white;
}
.navbar-list > li:hover {
	float: left;
	display: block;
	text-align: center;
	padding: 12px 15px;
	color: black;
}

.navbar-list > .searchform {
	display: block;
	padding: 10px 15px;
	float: right;
	color: white;
}

.navbar-list > .searchform:hover {
	display: block;
	padding: 10px 15px;
	float: right;
	color: black;
}

.home {
	cursor: pointer;
}

.about {
	cursor: pointer;
}

.summary {
	position: fixed;
	top: 15%;
	left: 2%;
	font-size: 3em;
	right: 50%;
}
